@use 'helpers' as *;

.burger-button {
    @include square(rem(20));

    position: relative;
    z-index: 80;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: rem(3) rem(1);
    color: var(--color-gray-30);
    cursor: pointer;

    &.is-active {
        .burger-button__line {
            &:nth-child(1) {
                rotate: 45deg;
                transform-origin: 0;
                translate: rem(3) 0;
            }

            &:nth-child(2) {
                width: 100%;
                rotate: -45deg;
            }

            &:nth-child(3) {
                width: 0;
            }
        }        
    }

    &__line {
        width: 100%;
        height: rem(2);
        background-color: currentColor;
        transition-duration: var(--transition-duration);
    }

    @include hover {
        .burger-button__line {
            background-color: var(--color-accent);
        }
    }

    &__line:nth-child(2) {
        width: 65%;
    }
}