@use 'helpers' as *;

.careers {
    &__body {
        display: flex;
        align-items: center;
        padding-top: rem(18);
        padding-inline: rem(30);

        @include tablet {
            flex-direction: column;
            text-align: center;
        }
    }

    &__content {
        width: min(rem(243), 100%);
        
        @include tablet {
            width: 100%;
        }
    }

    &__subtitle {
        color: var(--color-gray-blue-75);

        &:not(:last-child) {
            margin-bottom: rem(20);
        }
    }

    &__title {
        &:not(:last-child) {
            margin-bottom: rem(15);
        }
    }

    &__description {
        &:not(:last-child) {
            margin-bottom: rem(25);
        }
    }

    &__link {
        justify-self: start;
        margin-bottom: rem(50);

        @include tablet {
            margin-bottom: rem(20);
            justify-self: center;
        }
    }

    &__box-image {
        position: relative;
        align-self: end;

        @include tablet {
            @include square(50%);
        }

        @include tablet {
            align-self: auto;
        }

        &::before {
            @include abs-center;

            content: '';
            width: 100%;
            aspect-ratio: 1;
            border-radius: 100%;
            background-color: var(--color-circle);
        }
    }

    &__image {
        position: relative;
        z-index: 20;
    }
}