@use 'helpers' as *;

.columns {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-color: var(--color-gray-blue-75);
    color: var(--color-white);
    border-radius: var(--border-radius);

    &__heading {
        color: currentColor;
        padding: rem(20) rem(25);
        border-bottom: var(--border-columns);
    }

    &__item {
        position: relative;
        margin-inline: rem(25);
        padding-top: rem(45);
        padding-bottom: rem(40);
        padding-left: rem(10);

        &:not(:last-child) {
            border-bottom: var(--border-columns);
        }

        &::before {
            @include square(rem(40));

            content: '';
            position: absolute;
            z-index: 10;
            top: rem(35);
            left: 0;
            background: url('/icon/quote.svg') center/contain no-repeat;
        }
    }

    &__title {
        position: relative;
        z-index: 20;
        &:not(:last-child) {
            margin-bottom: rem(15);
        }
    }

    &__link {
        display: inline-block;
        font-family: var(--font-family-alternate);
        text-align: center;
        padding-top: rem(11);
        padding-bottom: rem(14);
        border-top: var(--border-columns);
    }
}