@use 'helpers' as *;

.comments {
    background-color: var(--color-white);
    padding-top: rem(90);
    padding-bottom: rem(30);

    @include mobile {
        padding-top: rem(30);
    }

    &__inner {
        display: grid;
        row-gap: rem(60);
    }

    &__wrapper {
        display: grid;
        row-gap: rem(30);
        max-width: rem(750);
        padding-left: rem(97);

        @include mobile {
            padding-left: 0;
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: rem(10);
    }

    &__title {
        color: var(--color-gray-100);

        &-wrapper {
            display: flex;
            column-gap: rem(11);

            span {
                @include fluid-text(40, 22);

                line-height: 1.25;
                text-transform: uppercase;
                color: var(--color-gray-50);
            }
        }
    }

    &__button {
        @include flex-center;

        column-gap: rem(10);
        font-family: var(--font-family-alternate);
        font-weight: 900;
        color: var(--color-gray-100);
        background-color: transparent;
        border: var(--border);
        border-radius: var(--border-radius-button);
        padding: rem(10) rem(22);

        @include hover {
            border-color: var(--color-accent);
            color: var(--color-accent);

            svg {
                path {
                    fill: var(--color-accent);
                }
            }
        }
    }

    &__item {
        display: flex;
        column-gap: rem(15);
        padding-top: rem(20);
        padding-bottom: rem(30);
        border-top: var(--border);

        &.is-active {
            padding-left: rem(90);
        
            @include mobile {
                padding-left: rem(45);
            }
        }
    }

    &__image {
        align-self: start;

        @include mobile {
            @include square(rem(45));
        }
    }

    &__content {
        display: grid;
        row-gap: rem(10);
    }

    &__info {
        display: flex;
        align-items: center;
        gap: rem(9);
    }

    &__time {
        display: inline-flex;
    }

    &__description {
        @include fluid-text(18, 14);

        line-height: 1.67;
        max-width: rem(570);

        @include mobile {
            max-width: 100%;
        }
    }
}