@use 'helpers' as *;

.header-bottom {
    display: grid;
    grid-template-columns: 11.40% 61.20% 24.45%;
    grid-template-areas: 
        "img logo meteo"
    ;
    align-items: center;
    column-gap: rem(15);

    @include mobile {
        display: none;
        // grid-template-columns: repeat(2, 1fr);
        // grid-template-areas: 
        //     "img logo"
        //     "meteo meteo"
        // ;
    }

    &__image {
        grid-area: img;
    }

    &__logo {
        grid-area: logo;
        display: flex;
        align-items: center;
        column-gap: rem(130);

        @include tablet {
            column-gap: rem(40); 
        }

        @include mobile {
            justify-content: flex-end;
        }

        &-text {
            @include mobile {
                display: none;
            }
        }

        svg {
            @include hover {
                path {
                    fill: var(--color-accent);
                }
            }
        }
    }

    &__meteo {
        grid-area: meteo;
        display: flex;
        justify-content: space-between;

        &-temp {
            display: flex;
            align-items: center;
            column-gap: rem(10);            
        }
    }
}