@use 'helpers' as *;

.notes-blog {
    background-color: var(--color-white);
    border-radius: var(--border-radius);

    &__item {
        display: flex;
        align-items: center;
        column-gap: rem(25);
        padding: rem(25);

        @include mobile {
            flex-direction: column;
            row-gap: rem(25);
        }
    }

    &__bookmark {
        display: flex;
        justify-content: space-between;
        align-items: start;

        &-color {
            path {
                fill: var(--color-gray-30);
            }

            &-active {
                path {
                    fill: var(--color-red-75);
                }
            }
        }

        svg {
            cursor: pointer;
        }
    }

    &__subtitle {
        &:not(:last-child) {
            margin-bottom: rem(15);
        }
    }

    &__title {
        &-link {
            color: var(--color-gray-100);

            &:not(:last-child) {
                margin-bottom: rem(10);
            }
        }
    }

    &__description {
        &:not(:last-child) {
            margin-bottom: rem(20);
        }
    }
}