@use 'helpers' as *;

.stories-link {
    display: flex;
    align-items: flex-end;
    column-gap: rem(10);

    &__image {
        border: var(--border-image);
        border-bottom: none;
    }

    &__text {
        display: grid;
        align-self: center;
    }

    &__subscribe {
        font-family: var(--font-family-alternate);
        font-weight: 900;
        font-size: rem(12);
        line-height: 1.25;
        color: var(--color-gray-100);
    }

    &__price {
        font-size: rem(12);
        line-height: 1.25;
        color: var(--color-gray-50);
    }
}