@use 'helpers' as *;

.subtitle-base {
    display: inline-block;
    font-family: var(--font-family-alternate);
    font-weight: 900;
    font-size: rem(12);
    line-height: 1.25;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    &--blue {
        color: var(--color-blue-60);
    }

    &--blue-green {
        color: var(--color-blue-green-75);
    }

    &--red {
        color: var(--color-red-75);
    }

    &--purple {
        color: var(--color-purple-75);
    }
}